.defaultHeader{
    text-align: center;
    h1{
        font-family: 'black ops one', cursive;
        font-size: 6rem;
        line-height: 3rem;
        padding-bottom: 1rem;
    }
    p{
     font-size: 1.5rem;
     font-family: 'Roboto', sans-serif;
    }
    
    a{
        font-family: 'black ops one', cursive;
        padding: 0.2rem 1rem;
        border-radius: 1px;
        margin-top: 0.85rem;
        font-size: 1.2rem;
        color: black;
    }

    a:hover {
        border-bottom: 2px solid black;
    }
 }